<h1>Listing feeds</h1>

<table>
  <tr>
  </tr>
  
<% for feed in @feeds %>
  <tr>
    <td><%= link_to 'Show', feed_path(feed) %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed_path(feed), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feed', new_feed_path %>