<div class="blog">
  <div class="entry">
    <h3>Blog entry title goes here</h3>
    <p>This is a big blog entry, the kind that blogs are about, don't you know?  It's because it's a blog entry that I wrote a blog about it, because what are blogs for if not writing blog entries?</p>
    
    <p class="title">Posted by <b>Jeff Coleman</b> at 3:15pm on January 25, 2007.</p>
    <p><a href="">View blog entries for <b><%= h @comic.name %></b>...</a></p>
  </div>
  <!-- end DIV "entry" -->
</div>
<!-- end DIV "blog" -->
