<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<title><%= @page_title || "Comics" %></title>
	
	<% @rss_feed ||= latest_pages_path %>
	
<%= auto_discovery_link_tag(:rss,
@rss_feed) %>
  

<!--[if IE]>
 <style type="text/css">
  body {word-wrap: break-word;}
 </style>
<![endif]-->

	<%= stylesheet_link_tag '/stylesheets/styles' %>
	<%= stylesheet_link_tag 'print', :media => 'print' %>


<!--[if IE 7]>

<%= stylesheet_link_tag 'styles_ie7' %>

<![endif]--> 


<%= javascript_include_tag :defaults %>


</head>
<% @body_style ||= "signin" %>
<body class="<%= @body_style %>" id="body">
  
 
    
<div class="outer_container">
    
  <div class="header">
    
    <div class="logo_bar">
      <%= link_to_unless_current image_tag("/images/logo.png", :alt => "Comicsplosion home", :class => "logo"), home_path %>
    </div>
    <!-- end DIV "logo_bar" -->

  </div>
  <!-- end DIV "header" -->
  
  <div class="container">
  
  <%= yield %>
  
  </div>
  <!-- end DIV "container" -->

</div>
<!-- end DIV "outer-container" -->  


</body>
</html>